.container{
    width: 100%;
    max-width: 130rem;
padding: 0 4rem;
display: flex;
gap: 2em;
}

.dashboard{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dashboard_head{
    display: flex;
    flex-direction: column;
    gap:2em ;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head span{
    font-size: 1.5em;
    font-weight: bolder;
}

.durationbutton select{
    outline: none;
    border: none;
    background: linear-gradient(
        268.35deg,
        rgba(255, 70, 70, 0.99) 3.47%,
        rgba(255, 114, 70, 0.99) 60.18%);
        padding: 10px ;
        border-radius: 1em;
        font-size: 1em;
        font-weight: 700;
        color: black;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1em ;
}

.card_head{
    font-size: 1em;
}

.card_head>:nth-child(1){
    color: rgb(255,255,255,0.835);
}

.card_head>:nth-child(2){
margin-left: 1.5em;
font-size: 0.8em ;
color: var(--green);
}

.card_amount>:nth-child(2){
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 8px;
}

.card_amount>:nth-child(1){
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(255,255,255,0.776);
position: relative;
bottom: 5px;
}

.orders{
    width:30%;
}

@media screen and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 72rem;
        align-items: center;
        justify-content: center;
    }

    .dashboard{
        width: 100%;

    }
    
}